:root {
    /*--PRIMARY: #9F1997;*/
    /*--PRIMARY-LIGHT: #D889F2;*/
    /*--SECONDARY: #FFB140;*/
    --BLACK: #1F2229;
    --GREY-DARKER: #45464b;
    --GREY: #E9EDF2;
    --GREY-LIGHT: #F6F8FA;

    --RED-USED-CHIP: #b60202;

    --PRIMARY: #A63A9F;
    --PRIMARY-DARKER: #91338B;
    --PRIMARY-LIGHTER: #C276BD;
    --SECONDARY: #222837;
    --BLUE: #95B8D1;
    --GOLDEN-CAPTAIN: #f8c220;

    --TABLE-ROW-MAIN: #F8BBD0;
    --TABLE-ROW-SECONDARY: #FCE4EC;
    --TEXT-SECONDARY: #454545;

    --BENCH-BOOST: #3d6ffa;
    --LIGHT-BLUE: #00d8ff;

    --WARNING: #ff9800;
    --ERROR: #f44336;
  }