:root {
  --BACKGROUND-DARK: #0f0f1a;
  --BACKGROUND-LIGHTER: #1a1a2e;
  /*--PRIMARY: #9F1997;*/
  /*--PRIMARY-LIGHT: #D889F2;*/
  /*--SECONDARY: #FFB140;*/
  --BLACK: #1f2229;
  --GREY-DARKER: #45464b;
  --GREY: #e9edf2;
  --GREY-LIGHT: #f6f8fa;

  --RED-USED-CHIP: #b60202;

  --PRIMARY: #a63a9f;
  --PRIMARY-DARKER: #91338b;
  --PRIMARY-LIGHTER: #c276bd;
  --SECONDARY: #222837;
  --BLUE: #95b8d1;
  --GOLDEN-CAPTAIN: #f8c220;

  --TABLE-ROW-MAIN: #f8bbd0;
  --TABLE-ROW-SECONDARY: #fce4ec;
  --TEXT-SECONDARY: #454545;

  --BENCH-BOOST: #3d6ffa;
  --LIGHT-BLUE: #00d8ff;

  --WARNING: #ff9800;
  --ERROR: #f44336;

  --GREEN-DARK: #388e3c;
  --GREEN-LIGHT: #4caf50;

  --ROLE-TOP: rgba(59, 130, 246, 0.4);
  --ROLE-JUNGLE: rgba(34, 197, 94, 0.4);
  --ROLE-MID: rgba(249, 115, 22, 0.4);
  --ROLE-BOTTOM: rgba(239, 68, 68, 0.4);
  --ROLE-SUPPORT: rgba(168, 85, 247, 0.4);
  --ROLE-SUB: rgba(100, 116, 139, 0.4);
  --ROLE-TEAM: rgb(0, 30, 73);
}
